.home {
  height: 85vh;
  display: flex;
  align-items: center;
  padding-left: 10%;
  justify-content: space-between;
}

.left-text {
  padding: 20px 0px;
}

.left-section p {
  font-weight: bold;
}
.left-section span {
  color: red;
}
.left-section .first-text {
  font-size: x-large;
}
.left-section .second-text {
  font-size: 50px;
}
.left-section .third-text {
  font-size: large;
  font-weight: 100;
}

.right-section {
  position: relative;
}
.right-section img {
  position: absolute;
  right: 100px;
  bottom: -100px;
}
.right-section .home-car-bg {
  position: absolute;
  width: 700px;
  height: 700px;
  background-color: blue;
  top: -400px;
  right: -400px;
  transform: rotate(45deg);
  z-index: -1;
}