@import 'responsiveUtilities';

nav{
.navbar {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        width: 92%;
        margin: auto;
        @include heading;
        .logo {
            display: flex;
            justify-items: center;
            text-align: center;
        }

        .logo-car {
            font-size: xx-large;
        }

        .logo-rental {
            font-weight: 500;
            font-size: large;
        }

        .nav-link{
            @include md{
                position: static;
                min-height: fit-content;
                width: auto;
            }

            display: flex;
            justify-items: center;
            padding: 0 10px;
            position: absolute;
            background-color: white;
            min-height: 60vh;
            left: 0%;
            top: -100%;
            width: 100%;
            transition: 500ms;

            ul{
                display: flex;
                
                @include md{
                    flex-direction: row;
                    justify-items: center;
                    gap: 4vh;
                }
                flex-direction: column;
                gap: 4vw;
                font-weight: bold;
            }
        }
    }
}

