#service-secn {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    gap: 0px 80px;
    font-family: "Raleway", sans-serif;
    margin-top: 80px;
    margin-bottom: 80px;
}

#service-secn .service-text {
    width: 40%;
    display: flex;
    flex-direction: column;
}

#service-secn .service-text .service-heading #tag {
    color: #37a3f9;
    font-weight: 500;
}

#service-secn .service-text .service-heading h1 {
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #043e69;
    font-size: xx-large;
}

#service-secn .service-text .service-heading p {
    font-weight: 500;
    color: #043e69;
}

#service-secn .service-text .grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0px 80px;
    padding: 0px 20px;
}

#service-secn .service-text .grid-container .serv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

#service-secn .service-text .grid-container .serv h2 {
    font-size: large;
}

#service-secn .service-text .grid-container .serv p {
    font-size: small;
    margin-top: 10px;
}

#service-secn .service-text .grid-container .serv img {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

@media screen and (max-width: 860px) {
    .stats-container {
        flex-direction: column;
        gap: 40px;
    }

    #service-secn #car {
        height: 400px;
    }
}

@media screen and (max-width: 1260px) {
    #service-secn {
        flex-direction: column-reverse;
        gap: 40px;
        padding: 0px 20px;
        justify-content: center;
        align-items: center;
    }

    #service-secn #car {
        height: 650px;
    }

    #service-secn .service-text {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    #service-secn {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #service-secn #car {
        height: 350px;
    }

    #service-secn .service-text .grid-container {
        display: inline;
    }
}