@import 'base';
@import 'variables';


@import 'stats';
@import 'services';
@import 'nav';
@import 'btn';
@import 'home';
@import 'rent';
@import 'carBooking';

body {
    background-image: url($bg-pattern);
    background-repeat: no-repeat;
    background-size: cover;
}